@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container-width {
    width: 1200px;
    margin: 0 auto;
}

/* Navigation */

nav {
    display: grid;
    grid-template-columns: 150px auto 1000px;
    border: 1px solid black;
    width: 100%;
    height: 125px;
    position: absolute;
    background-color: rgb(238, 238, 238);
    z-index: 1;
    
}

nav #logo img {
    width: 100%;
}

nav #nav-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-start: 3;
    text-align: center;
}

#btn-nav {
    display: none;
}

.nav-link {
    padding: 40px;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    color: rgb(94, 94, 94);
    transition: background-color 1s, color 1s;
}



.nav-link:hover {
    background-color: rgb(94, 94, 94);
    color: rgb(238, 238, 238);
}

/*------------------------ Home Page --------------------------*/

/* Hero Image */

#hero-image {
    border: 1px solid black;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url("https://via.placeholder.com/150");
}

#hero-image video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }

.darken {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.9);
}

#hero-image #hero-text {
    height: 400px;
    width: 650px;
    top: 35%;
    position: absolute;
    left: 10%;
    padding: 40px;
    border-radius: 20px;
    /* background-color: rgba(255,192,203,.4); */
    color: rgb(226, 226, 226);
}

#hero-text h2 {
    font-size: 6rem;
}

#hero-text h4 {
    font-size: 1.4rem;
    margin: 10px 0;
}

#hero-text p {
    font-size: 3rem;
    margin: 10px 0;
    font-style: italic;
}

#bottom-content {
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 5px;
    padding-bottom: 20px;
}

.post {
    border: 1px solid black;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.post-content {
    font-size: 2rem;
    padding-top: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.post img {
    width: 100%;
}

/*------------------------ Team --------------------------*/

#team-content {
    display: block;
    padding-top: 125px;
}

#team-statement h2 {
    margin-top: 100px;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

#team-bios {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1.5rem;
}

.team-bio {
    box-shadow: 2px 2px 5px grey;
    text-align: center;
    height: 400px;
    padding: 20px;
}

.team-bio img {
    width: 60%;
    height: 200px;
}

/*------------------------ Connect  --------------------------*/

#connect-container {
    padding-top: 125px;
    padding-bottom: 20px;
}

.connect-form {
    padding: 20px;
    margin-top: 20px;
}

.connect-form img {
    width: 33%;
    display: block;
    margin: 0 auto;

}

.connect-form h5 {
    display: block;
    text-align: center;
}

.connect-form-content {
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 1.5rem;
}

.connect-form-button {
    text-align: center;
}

.connect-form-button div {
    margin: 0 auto;
    margin-top: 50px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: lightpink;
    display: inline-block;
    padding: 20px 70px;
    width: auto;
    border-radius: 5px;
}

/* ---------------------- Let's Connect ---------------------- */

#lets-connect-container {
    padding-top: 125px;
    height: 700px;
}

.lets-connect-cta {
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 1.5rem;
}

#lets-connect-partners {
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 1.5rem;
    text-align: center;
}

.lets-connect-partner {
    margin-bottom: 20px;
}

.lets-connect-partner p {
    margin-top: 20px;
    font-size: 2.5rem;
}

.lets-connect-partner a {
    text-decoration: transparent;
    font-weight: bold;
    color: black;
    transition: text-decoration 2s;
}

.lets-connect-partner a:hover {
    text-decoration: underline;
}

.flavor-text {
    width: 1200px;
    margin: 0px auto;
    padding: 20px;
    text-align: center;
    font-style: italic;
    font-size: 3rem;
    color: black;
}

/*----------------------- Mobile------------------------------ */

@media (max-width: 480px) {
    html {
        /* font-size: ; */
        overflow-x: hidden;
    }

    nav {
        display: block;
        grid-template-columns: 150px auto auto;
        width: 100%;
        height: 125px;
        position: relative;
        
    }

    nav #nav-bar {
        
        display: inline-block;
        position: absolute;
        width: 100%;
        top: 75px;
        left: 100%;
        text-align: center;
    }

    #btn-nav {
        display: inline-block;
        position: absolute;
        padding: 10px;
        border: 1px solid black;
        border-radius: 5px;
        right: 20px;
        top: 15px;
    }



    .nav-link {
        display: block;
        padding: 10px;
        font-size: 1.5rem;
        text-decoration: none;
        font-weight: bold;
        color: rgb(94, 94, 94);
        background-color: white;
        border: 1px solid rgba(128, 128, 128, .4);
        transition: none;
    }

    nav #logo img {
        width: 100px;
    }

    #hero-image {
        height: 60%;
        width: 100%;
    }

    #hero-image #hero-text {
        height: auto;
        width: 100%;
        text-align: center;
        position: absolute;
        top: auto;
        left: 0;
        bottom: 0;
        padding: 0 1rem;
        border-radius: 20px;
        /* background-color: rgba(255,192,203,.4); */
        color: rgb(226, 226, 226);
    }

    #hero-text h2 {
        font-size: 2rem;
    }
    
    #hero-text p {
        font-size: 1.4rem;
        margin: 10px 0;
    }

    nav {
        height: 75px;
    }

    #bottom-content {
        width: 100%;
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

    /* Team */

    #team-statement h2 {
        font-size: 1.2rem;
        padding: 0 20px;
    }

    #team-content {
        width: 100%;
        padding-top: 20px;
    }

    #team-bios {
        margin-top: 70px;
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        column-gap: 1rem;
        row-gap: 1.5rem;
    }

    /* ------------- Connect -------------- */



    #connect-container {
        width: 100%;
        padding: 0;
        padding-bottom: 20px;
    }

    .connect-form-content {

        font-size: 1.2rem;
    }

    .connect-form img {
        width: 50%;
        display: block;
        margin: 0 auto;
    
    }


}